*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	
}
a{
	text-decoration: none; 
	background-color: transparent;
	color: #fff;
}
nav{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 10%;
	border-bottom: 1px solid #000;
	z-index: 10;
}	
nav ul li{
	color: #fff;
	list-style: none;
	display: inline-block;
	margin: 10px 20px;
	font-weight: 500;
	cursor: pointer;
}	
nav .logo{
	width: 200px;
	cursor: pointer;
}	
.nav-btn{
	background: #fff;
	color: #000;
	font-size: 16px;
	padding: 15px 25px;
	border: 0;
	outline: 0;
	border-radius: 40px;
	cursor: pointer;
}	
.nav-btn img{
	width: 16px;
	margin-left: 8px;
}
.header{
	width: 100%;
	color: #fff;
	min-height: 100vh;
	background: linear-gradient(#070f26 0%, #070f26 49%, #070f26 100%);
	padding: 0 10%;	
	display: flex;
	justify-content: center;
	flex-direction: column;
}	
.header h1{
    margin-top: 100px;
	font-size: 8vw;
	line-height: 9vw;
	
}	
.btn-container{
	margin: 20px 0;
}	
.header button{
	border: 0;
	outline: 0;
	display: inline-flex;
	align-items: center;
	font-size: 18px;
	margin-right: 20px;
	cursor: pointer;
}	
.btn-dark{
   background: #000;
   color: #fff;
   padding:   10px 10px 30px;
   border-radius: 40px;
} 
.btn-dark img{
   width: 40px;
   background: #fff;
   border-radius: 50%;
   padding: 10px;
   margin-left: 30px;
} 
.btn-white{
   background: transparent;
   text-decoration: underline;
      color: #fff;

}
.btn-white img{
   width: 20px;
   margin-left: 10px;
} 
.header p{
	max-wdith: 360px;
	font-weight: 500;
}	
.user-img{
		width: 100%;
		max-width: 800px;
		position: absolute;
		right: 10%;
		bottom: 0;
		top: 20%;
}	
.menu-icon{
	display: none;
	
}	

@media only screen and  (max-width: 600px){
nav ul{
	position: absolute;
	width: 100%;
	background: #000;
	color: #fff;
	left: 0;
	top: 100%;
	text-align: center;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s;
}
.nav-btn{
	display: none;
}
nav .logo{
	width: 150px;
}
nav ul li{
	margin: 10px;
	font-size: 14px;
}
.menu-icon{
	display: block;
	width: 30px;
}
.show-menu{
	max-height: 80px;
}

}	

@media only screen and (max-width: 600px){
.header{
	min-height: auto;
	padding: 0;
}	
.user-img{
	width: 100%;
	right: auto;
	position: relative;
	margin-top: 100px;
}
.header-content{
	position: absolute;
	bottom: 0;
	padding: 0 10%;
	z-index: 2;
	padding-bottom: 40px;
}
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.avatar {
	border: 3px solid #fff;	
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}